// .card-header {
//     position: sticky;
//     top: 0;
//     left: 0;
//     width: 100%;
//     z-index: 3;
//   }
  
  .inf {
    width: 98%;
    margin: 5px;
    height: 10rem;
  }
  
  .dash {
    height: fit-content;
  }
  
  .ltc {
    height: 7rem;
  }
  
  .notif-m {
    height: 20rem;
  }