<section id="l_approval" class=" pdt">

    <div class="container">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTabs">
        <li class="nav-item">
          <a class="nav-link active" id="tab2-tab" data-bs-toggle="tab" routerLink="leaveapproval">
            <span><h6>Pending Approvals</h6></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" routerLink="leaveHistory">
            <span><h6>Leave Approval History</h6></span>
          </a>
        </li>
      </ul>

      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    
</section>