<div class="sidebars">
    <div class="sn">
      <div class="container">
        <ul class="navbar-nav mt-5 text-white w-100">
          <li class="nav-item d-flex px-3 mb-3 gap-3 w-100">
            <a routerLink="dashboard" routerLinkActive="active" class="nav-link px-3 ">
              <span class="me-2"><img src="/../../assets/login/images/icons8-layout-27.png" class="img-fluid" alt=""></span>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item d-flex px-3 mb-3 gap-3 w-100">
            <a routerLink="applyleave" routerLinkActive="active" class="nav-link px-3">
              <span class="me-2"><img src="/../../assets/login/images/icons8-apply-27.png" class="img-fluid" alt=""></span>
              <span>Apply leave</span>
            </a>
          </li>
          <li class="nav-item d-flex px-3 mb-3 gap-3 w-100">
            <a routerLink="leavestatus" routerLinkActive="active" class="nav-link px-3">
              <span class="me-2"><img src="/../../assets/login/images/icons8-tick-tick-27.png" class="img-fluid" alt=""></span>
              <span>Leave status</span>
            </a>
          </li>
          <li class="nav-item d-flex px-3 mb-3 gap-3 w-100">
            <a routerLink="leavepolicy" routerLinkActive="active" class="nav-link px-3">
              <span class="me-2"><img src="/../../assets/login/images/icons8-policy-27.png" class="img-fluid" alt=""></span>
              <span>Leave policy</span>
            </a>
          </li>
          
        </ul>
      </div>
    </div>

  </div>

<!-- sidebar -->

<!-- offcanvas sidebar -->
<div class=" offcanvas bg-dark text-white offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> <img src="/../../assets/login/images/logo.png" alt="" height="40"> </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    
      <ul class="navbar-nav  ms-4 mt-5">
        
        <li>
          <a routerLink="dashboard" class="nav-link px-3 active">
            <span class="me-2"><img src="/../../assets/login/images/icons8-layout-27.png" class="img-fluid" alt=""></span>
            <span>Dashboard</span>
          </a>
        </li>
       
        
        
        <li>
          <a routerLink="applyleave" class="nav-link px-3">
            <span class="me-2"><img src="/../../assets/login/images/icons8-apply-27.png" class="img-fluid" alt=""></span>
            <span>Apply leave</span>
          </a>
        </li>
        
        
        <li>
          <a routerLink="leavestatus" class="nav-link px-3">
            <span class="me-2"><img src="/../../assets/login/images/icons8-tick-tick-27.png" class="img-fluid" alt=""></span>
            <span>Leave status</span>
          </a>
        </li>
        <li>
          <a routerLink="leavepolicy" class="nav-link px-3">
            <span class="me-2"><img src="/../../assets/login/images/icons8-policy-27.png" class="img-fluid" alt=""></span>
            <span>Leave policy</span>
          </a>
        </li>
      </ul>
    
  </div>
</div>

