 <!-- sidebar -->
  
 <div class="sidebars">
    <div class="sn">
      <div class="container">
        <ul class="navbar-nav mt-5 text-white w-100">
          <li class="nav-item d-flex px-3 mb-3 gap-3 w-100">
            <a routerLink="Userconfigurtion" routerLinkActive="active" class="nav-link px-3  w-100">
              <span class="me-2"><img src="/../../assets/login/images/icons8-user-settings-27.png" class="img-fluid" alt=""></span>
              <span>User management</span>
            </a>
          </li>
          <li class="nav-item d-flex px-3 mb-3 gap-3">
            <a routerLink="systemconfiguration" routerLinkActive="active" class="nav-link px-3 w-100">
              <span class="me-2"><img src="/../../assets/login/images/icons8-configure-27.png" class="img-fluid" alt=""></span>
              <span>Configure system</span>
            </a>
          </li>
          
          
        </ul>
      </div>
    </div>

  </div>

<!-- sidebar -->

<!-- offcanvas sidebar -->
<div class=" offcanvas bg-dark text-white offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    
    <h5 class="offcanvas-title" id="offcanvasExampleLabel"> <img src="/../../assets/login/images/logo.png" alt="" height="40"> </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body ">
    
      <ul class="navbar-nav  ms-4 mt-5">
        
        <li>
          <a routerLink="Userconfigurtion" class="nav-link px-3 ">
            <span class="me-2"><img src="/../../assets/login/images/icons8-user-settings-27.png" class="img-fluid" alt=""></span>
            <span>User configuration</span>
          </a>
        </li>
       
        
        
        <li>
          <a routerLink="systemconfiguration" class="nav-link px-3">
            <span class="me-2"><img src="/../../assets/login/images/icons8-configure-27.png" class="img-fluid" alt=""></span>
            <span>System configuration</span>
          </a>
        </li>
        
        
        
      </ul>
    
  </div>
</div>
<!-- offcanvas sidebar -->
<main class="mt-5 pt-3  overflow-x-hidden">

 