// .card-title-bottom {
//     margin-top: auto;
//   }
  
//   .search {
//     width: 25rem;
//   }
  

  
  .ls {
    padding-top: 5rem;
  }
  
  .cont {
    min-height: 85dvh;
    padding: 1rem;
  }